<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.michael.email"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".EmailApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <activity android:name=".ui.activity.MainActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.WelComeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <!--<intent-filter >-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".ui.activity.UserInfoSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" >
            <!--<intent-filter >-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".ui.activity.NewLetterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWhiteActionBar" >
            <!--<intent-filter >-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

    </application>

</manifest>